<div id="messages" data-user-id="<%= user.id %>"
  data-current-user="<%= current_user.id %>">
  <div class="chat-header clearfix">
    <img src="<%= user.avatar.thum40.url %>"
      width="40" height="40" alt="avatar" class="avatar-msg">
    <div class="chat-about">
      <div class="chat-with">Chat with <%= user.name %></div>
      <% if user.online %>
        <div class="online" id="chat-status-<%= user.id %>">Active now</div>
      <% else %>
        <div class="offline" id="chat-status-<%= user.id %>"><%= user.set_online_time %></div>
      <% end %>
    </div>
  </div>
  <div class="chat-history" id="messages-list">
    <ul>
      <%= render "messages/conversation_content",
        messages: messages, user: user %>
    </ul>
  </div>
  <form class="chat-message clearfix" id="new_message">
    <input name="user_id" type="hidden" value="<%= user.id %>">
    <textarea name="body" class="form-control text-area"
      placeholder="Type your message" rows="3"></textarea>
  </form>
</div>
