<% provide :title, t(".chat") %>
<div class="container-fluid header-block">
  <h1 class="text-capitalize">
    <%= t ".chat" %>
  </h1>
</div>
<div class="container" id="container-chat">
  <div class="row">
    <div class="col-md-3" id="people-list">
      <div class="search-msg">
        <input type="text" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
      <div class="list">
        <ul>
          <% @users.each do |user| %>
            <li class="clearfix" id="user-id-<%= user.id %>">
              <img src="<%= user.avatar.thum40.url %>"
                width="40" height="40" alt="avatar" class="avatar-msg">
              <div class="about">
                <%= link_to user.name, "#", class: "current-user-#{current_user.id}" %>
                <div class="status">
                  <% if user.online %>
                    <div class="fa fa-circle online" id="user-<%= user.id %>-status"> <span>online</span></div>
                  <% else %>
                    <div class="fa fa-circle offline" id="user-<%= user.id %>-status"> <span>offline</span></div>
                  <% end %>
                </div>
              </div>
              <div id="notice">
                <div class="count-message" id="count-message-user-<%= user.id %>">0</div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-9" id="chat-msg">
      <div id="conversation">
        <%= render "messages/conversation", messages: @messages_first,
          user: @users.first %>
      </div>
    </div>
  </div>
</div>
