<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">Books4U</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis vitae dolor quis venenatis. Aliquam eget eros vel velit ultricies molestie dignissim ac erat. Aliquam erat volutpat.</p>
        <p><i class="fa fa-map-pin"></i> Hanoi, Vietnam</p>
        <p><i class="fa fa-phone"></i> Phone (VN): +84 912 345 678</p>
        <p><i class="fa fa-envelope"></i> E-mail: info@books4u.com</p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#">Career</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Ranking</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST BLOG</h6>
        <div class="post">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span>April 8, 2020</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span>April 8, 2020</span></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span>April 8, 2020</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook"
          data-tabs="timeline" data-width="" data-height="300" data-small-header="false"
          data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">Facebook</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>&copy <%= Time.current.year %> <%= t "design_by" %>. <%= t "layouts.footer.copyright" %>.</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom-ul">
        <li><a href="#"><%= t "layouts.footer.about_us" %></a></li>
        <li><a href="#"><%= t "layouts.footer.blog" %></a></li>
        <li><a href="#"><%= t "layouts.footer.faq" %></a></li>
        <li><a href="#"><%= t "layouts.footer.contact_us" %></a></li>
        <li><a href="#"><%= t "layouts.footer.sitemap" %></a></li>
      </ul>
    </div>
  </div>
</div>
