<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/theme-default.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag "admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "favicon.png" %>
  </head>

  <body>
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/sidebar" %>
    <div id="content" class="pmd-content">
      <div class="container-fluid">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div>
    <%= render "admin/layouts/footer" %>
    <%= javascript_pack_tag "admin", "data-turbolinks-track": "reload" %>
    <% if File.exist? Rails.root.join("app/javascript/packs", params[:controller] + ".js") %>
      <%= javascript_pack_tag (params[:controller]), "data-turbolinks-track": "reload" %>
    <% end %>
  </body>
</html>
